html {
    scroll-behavior: smooth; /* Abilita lo scorrimento fluido per tutta la pagina */
}

/* ------------------------------ Menù ------------------------------ */

header {
    background-color: #121212;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    position: fixed;
    width: 80%;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
}

.menu li.center-links {
    flex-grow: 1;
    text-align: center;
    text-decoration: none; /* Rimuove la linea sotto i link */
    font-family: "Inter";
}

.menu li.center-links a.space{
    padding: 0 8px 0 8px;
}

.menu li.social-links {
    display: flex;
    justify-content: flex-end;
}

.menu li.social-links a {
    margin-left: 10px;
}

.menu li.social-links img {
    width: 20px;
    height: 20px;
}

.logo-link {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

#hero {
    background-color: #f4f4f4;
    padding: 100px 0;
    text-align: center;
}

.hero-container {
    width: 60%;
    margin: auto;
    flex-wrap: wrap;
}

/* ------------------------------ Link ------------------------------ */
a {
    text-decoration: none; /* Rimuove la linea sotto i link */
    color: inherit; /* Assicura che il colore del testo rimanga invariato */
}

a:hover {
    color: #E84B27;
}

/* ------------------------------ Menù MOBILE ------------------------------ */

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #E84B27;
    margin: 5px 0;
}

/* ------------------------------ Tipografia ------------------------------ */

.h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  color: #121212;
  text-align: center;
}

.h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: #121212;
  text-align: center;
  margin: 32px 0 64px 0;
}

.h3 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #121212;
    margin: 0 0 4px 0;
}

.h4 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #121212;
}

.p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #121212;
}

/* ------------------------------ Sezioni e Container ------------------------------ */

.container {
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

/* Bottone */

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #E84B27;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
}

.button:hover {
    background-color: #db2a03;
    color: #fff;
}

#portfolio {
    padding: 100px 0;
    display: flex;
    justify-content: center; /* Centra orizzontalmente il contenuto */
    align-items: center;
    flex-direction: column;
}

/* ------------------------------ Card Portfolio ------------------------------ */

.card {
    display: inline-block;
    margin: 20px;
    background-color: #fff;
    padding: 16px;
    border-radius: 15px;
    /*box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.10);*/
    border-color: #E84B27;
    box-sizing: border-box;
    border-style:  solid;
    border-width: 2px;
}
/*
.card:hover {
    cursor: url('./assets/css/js/img/pointer.png'), auto;
};
*/

.card-grid {
    width: 80%;
    display: flex;
    justify-content: center; /* Centra orizzontalmente il contenuto */
    align-items: center;
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    border-radius: 12px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.content h3 {
    margin: 0;
}

.arrow {
    fill: #E84B27;
    width: 38px;
    height: auto;
}

.arrow-footer {
    margin-left: 8px;
    width: 30px;
    height: auto;
}

/* ------------------------------ Colonne CV ------------------------------ */

#about {
    background-color: #f4f4f4;
    padding: 50px 0 0 0;
    text-align: center;
}

.container-column {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    padding: 0 0 56px 0;
    text-align: left;
}

.vertical-line {
    width: 1px;
    background-color: #121212; /* Colore della linea */
}

.orizontal-line {
    border-top: 1px solid #E84B27; /* Colore e spessore della linea */
    width: 100%;
}

.orizontal-line.color {
    border-top: 1px solid #121212; /* Colore e spessore della linea */
}

.icon-list {
    display: flex;
    flex-wrap: wrap; /* Per far andare a capo le icone quando lo spazio non è sufficiente */
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.icon-name {
    margin-top: 5px;
}

.icon {
    width: 50%;
    height: auto;
}

/*Aggiungere spazio interno tra le 2 colonne*/

.column-left{
    padding-right: 40px;
}

.column-right{
    padding-left: 40px;
}

/* ------------------------------ Modifiche al testo della sezione CV ------------------------------ */

.subtitle {
   color: #E84B27;
   margin-top: 24px;
   margin-bottom: 4px;
}

.paragraph-margin {
    margin-top: 24px;
}

/*luogo di lavoro e data sotto il ruolo*/

.margin {
    margin-top: 0%;
}

/* ------------------------------ FOOTER ------------------------------ */

footer {
    background-color: #121212;
    /*color: #fff;*/
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.right {
    text-align: right;
}

.white {
    color: #fff;
}

/* ------------------------------ RESPOSIVE ------------------------------ */

/* ------------------------------ TABLET ------------------------------ */
/*@media only screen and (max-width: 1200px) {

}*/



/* ------------------------------ MOBILE ------------------------------ */
@media only screen and (max-width: 768px) {
    /*MENU*/
    .menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    /*TIPOGRAFIA*/
    .h1 {
        font-size: 40 px;
      }

    .container-column {
        width: 100%; /* Imposta la larghezza delle colonne al 100% su dispositivi mobili */
    }
    .vertical-line {
        display: none;
    }

    /*CARD PORFOLIO*/
    .card-grid {
        flex-direction: column; /* Impila le card verticalmente su schermi più piccoli */
        align-items: center; /* Centra le card verticalmente */
    }
}